img.icon {
  width: 20px;
  height: auto;
}

video {
  cursor:auto;
  width:100%;
  height:100%;
  border-radius:0px;
  display:block;
  object-fit:cover;
  background-color:rgba(0, 0, 0, 0);
  object-position:50% 50%;
  z-index:-1;
  position:fixed;
  top:0px;
  left:0px;
}

a:link {
  color: white; /* 방문하지 않은 링크 색상 */
  text-decoration: underline; /* 밑줄 제거 (선택 사항) */
}

a:visited {
  color: gray; /* 방문한 링크 색상 */
}

a:hover {
  color: red; /* 마우스를 올렸을 때 색상 */
}

a:active {
  color: green; /* 클릭하는 순간의 색상 */
}

.fixed-top-5 {
  position: fixed;
  top: 5%;
  left: 50%;
  transform: translateX(-50%);
  background-color: rgba(0, 0, 0, 0.5); 
  padding: 10px 20px;
  border-radius: 5px;
}